


@mixin box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 30px;
}




.box--titulo {
    @include box;
    font-family: 'Roboto', sans-serif;   
}

.box--foto {
    @include box;
}


.pie {
    padding: 10px;
}


